<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekspeace">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task_NTPL">
        <activity android:name=".View.AdminRequestConfirmationActivity"></activity>
        <activity android:name=".View.AdminDashboardActivity" />
        <activity android:name=".View.DepositWithdrawalActivity" />
        <activity android:name=".View.ViewBalanceActivity" />
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.LoginActivity"
                android:launchMode="singleTask"
                android:taskAffinity=""
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>